.capulet {
  color: #0077CC;
}

.montague {
  color: #EE6363;
}

h4 {
  font-size: 24px;
  text-decoration: underline;
}

div.capulet {
  color: #0F5A8F;
}

div.montague {
  color: #CD4242;
}

.dialog {
  font-size: 16px;
  font-weight: 300;
}

.stage-direction {
   color: #362819;
   text-align: center;
}
