<!DOCTYPE html>
<html>
  <head>
    <title>Kickball Site</title>
    <link href="/styles.css" rel="stylesheet">

  </head>
  <body>
    <h1>Psst...Welcome to the Kickball Site!</h1>
  </body>

</html>
