  <!DOCTYPE html>
  <html>
    <head>
      <title>Teams</title>
      <link href="/styles.css" rel="stylesheet">

    </head>
    <body>
      <h1>Teams</h1>
  <ol>
    <%teams.each do |team_name| %>
    <li><a href="/teams/<%= team.name %>"><%= team.name%></a></li>
    <% end %>
  </ol>
  </body>

  </html>
