body {
  margin:0px;
  font-family: Verdana;
  background-color: #F6F6EF;
}

header {
  background-color: #FD6620;
  padding: 7px;
  font-weight: bold;
}

#page {
  font-family: Monospace;
  font-weight: bold;
  color: white;
  font-size: 2.0em;
}
#title {
  text-align: center;
  margin-left: 20%;
  font-weight: bold;
}

div {
  padding: 8px;
}

h1 {font-size: 1.5em;}


img {
    display: block;
    margin: 0;
    width: 25%;
    height: 25%;
}
